input{
    border-radius: 1rem !important;
}
.form-control:focus{
    border-color:#242526 !important;
    box-shadow:0 0 0 0.2rem #242526 !important;
}
button{
    background-color: deepskyblue !important;
    border-radius: 5px !important;
    padding: 0.5rem 1rem !important;
    border:none !important;
}
.whiteback{
    background-color: red;
}
.App-logo {
  animation:logoSpin infinite 20s linear;
  height: 80px;
}
@keyframes logoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}